*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
  }

*:focus{
    outline: none;

}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #33ccff 0%, #2d19e0 100%);
    background-size: cover;
    background-position: center;
    font-family: 'roboto',sans-serif;
}
input:hover {
    background: linear-gradient(to bottom, #5fc1e1 0%, #2d19e0 100%);;  
}

header:hover {
    background: linear-gradient(to bottom, #5fc1e1 0%, #2d19e0 100%);;  
}

.formOutline{
    width: 400px;
    height: auto;
    color: navy;
    display: center;
    font-family: 'Playfair Display',sans-serif;
  


}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Playfair Display';
    margin-bottom: 50px;

}

input,
.submit-btn{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(19, 22, 22, 0.3);
    border: none;
    color: navy;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{

    color: rgb(14, 14, 15);

}

input:focus,
.submit-btn:hover{
    background : rgb(85, 138, 224);
    color: rgb(0, 0, 0);
}

input:focus::placeholder{
    color: black;
}


.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;

}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: rgb(85, 138, 224);
}
/* Don't need code here */
/* .alert-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 55px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 5px;
    text-transform: capitalize;
    background: rgb(225, 72, 72);
    border-top: 10px solid rgb(225, 72, 72);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    color:rgb(255, 255, 255);
    font-family: 'roboto',sans-serif;
    text-align: center;
    transition: 1s;
} */