*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/main_page_image.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto',sans-serif;
}