
.proAddSection.hidden {
    display: none;
}

.proAddSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proAdd {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.proAdd__form__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.proAddCancelBtn,
.proAddSubmitBtn {
    transition: all 0.2s ease;
}

.proAddCancelBtn:hover,
.proAddSubmitBtn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #343a40;
}

nav .navbar-brand {
    color: rgb(0, 0, 0);
}

nav .btn {
    border-color: transparent;
}

.table {
    
    margin-top: 30px;
    border-radius: 8px;
}

.table th, .table td {
    text-align: center;
}

.product-section {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.form-control,
.form-select {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .proAdd {
        width: 100%;
        padding: 15px;
    }
}